.kiwi-nicklist-user[data-nick="martin"]:before 
{  content: ""; 
background: url(avatars/martin.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick="tiburon48"]:before 
{  content: ""; 
background: url(avatars/tibu.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}




.kiwi-nicklist-user[data-nick="histerica"]:before 
{  content: ""; 
background: url(avatars/histerica.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick="aether"]:before 
{  content: ""; 
background: url(avatars/aether.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}



.kiwi-nicklist-user[data-nick="vane_"]:before 
{  content: ""; 
background: url(avatars/vane.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick="[namger30]"]:before 
{  content: ""; 
background: url(avatars/nam.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}



.kiwi-nicklist-user[data-nick="ladybug"]:before 
{  content: ""; 
background: url(avatars/lady.png); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}


    
 .kiwi-nicklist-user:before 
{  content: ""; 
background: url(avatars/user.jpg); 
display: inline-block; width: 24px; 
height: 24px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}
 

.kiwi-nicklist-user[data-nick="{-andress_}"]:before 
{  content: ""; 
background: url(avatars/andres.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick="bonvivant"]:before 
{  content: ""; 
background: url(avatars/gabi.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick="konecta2"]:before 
{  content: ""; 
background: url(avatars/gabi.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}


.kiwi-nicklist-user[data-nick="firulais"]:before 
{  content: ""; 
background: url(avatars/firu.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}


.kiwi-nicklist-user[data-nick="adriana"]:before 
{  content: ""; 
background: url(avatars/adriana.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick="fabian"]:before 
{  content: ""; 
background: url(avatars/fabian.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick="cisco"]:before 
{  content: ""; 
background: url(avatars/fabian.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick="janayna"]:before 
{  content: ""; 
background: url(avatars/jana.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick="thanos"]:before 
{  content: ""; 
background: url(avatars/thanos.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}



.kiwi-nicklist-user[data-nick="laloca"]:before 
{  content: ""; 
background: url(avatars/laloca.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick="cletus"]:before 
{  content: ""; 
background: url(avatars/cletus.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}












.kiwi-nicklist-user[data-nick^="act"]:before 
{  content: ""; 
background: url(avatars/act.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick^="chup"]:before 
{  content: ""; 
background: url(avatars/chupo.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick^="tax"]:before 
{  content: ""; 
background: url(avatars/taxy.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}




.kiwi-nicklist-user[data-nick^="oso"]:before 
{  content: ""; 
background: url(avatars/oso.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}


.kiwi-nicklist-user[data-nick^="pas"]:before 
{  content: ""; 
background: url(avatars/pas.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick^="casad"]:before 
{  content: ""; 
background: url(avatars/casado.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick^="reserv"]:before 
{  content: ""; 
background: url(avatars/res.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick^="parej"]:before 
{  content: ""; 
background: url(avatars/parej.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

.kiwi-nicklist-user[data-nick^="busc"]:before 
{  content: ""; 
background: url(avatars/busco.jpg); 
display: inline-block; width: 25px; 
height: 25px; background-size: cover;margin-right: -12px;float: left;margin-top: 5px;overflow: hidden;
border-radius: 15px;
}

